.footer
  .p 
    span © #{theme.copyright} 
    i.fa.fa-star
    span  #{theme.author}

  .by_farbox
    span Powered by 
    a(href="https://hexo.io/zh-cn/", target="_blank") Hexo 
    span  & 
    a(href="https://github.com/Cytrogen/hexo-theme-Anatole-Core-Resume", target="_blank") Anatole-Core-Resume